@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    
    --card: 220 10% 4%;
    --card-foreground: 0 0% 100%;
    
    --popover: 220 10% 4%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 220 10% 10%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 220 10% 10%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 220 10% 10%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 220 10% 20%;
    --input: 220 10% 20%;
    --ring: 210 100% 50%;
  }
} 